body {
  color: #1f1d1d;
  background-color: #f4f3ef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  fill: #1f1d1d;
}

.container {
  text-align: center;
  margin: 5em;
}

.text {
  max-width: 900px;
  margin: auto;
}

a {
  color: #1f1d1d;
}