body {
  color: #1f1d1d;
  background-color: #F4F3EF;
  font-family: "Nunito Sans", sans-serif;
}

text {
  font-family: "Nunito Sans", sans-serif;
  fill: #1f1d1d;
}

.container {
  text-align: center;
  margin: 2em;
}

.text {
  max-width: 75vw;
  margin: auto;
}

a {
  color: #1f1d1d;
}

.selected-movie-list {
  background-color: white;
  width: 319px;
  border: 1px solid #1f1d1d33;
  padding: 0.5em 1em;
}

.empty-state {
  font-size: 12px;
  font-style: italic;
}

.movie-title {
  font-size: 18px;
  border-bottom: 1px solid #e1e0db;
  padding-bottom: 1em;
}

.movie-title:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.views-text {
  font-style: italic;
  font-size: 12px;
}

.vis-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10.5em;

  @media screen and (max-width: 1400px) {
    gap: 3em;
  }
}

.aside {
  position: sticky;
  top: 1em;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.active {
  stroke: #1f1d1d;
  stroke-width: 1.5;
}