body {
  color: #16161D;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
}

h1, h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

text {
  font-family: "Nunito Sans", sans-serif;
  fill: #16161D;
}

.container {
  text-align: center;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 80vw;
  margin: auto;
  font-size: 12px;
}

a {
  color: #16161D;
}

.vis-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  margin-top: 2em;
}

.vis-main-content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.vis-container {
  width: 750px;
}

.aside {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 350px;
  z-index: 1000;
  align-self: flex-start;
}

.selected-movie-list {
  background-color: white;
  border: 1px solid #16161D33;
  padding: 0.5em 1em;
  max-height: 70vh;
  overflow-y: scroll;
}

.empty-state {
  font-size: 12px;
}

.empty-state span {
  font-style: italic; 
}

.toggle-icon {
  margin-top: 1.25em;
}

.movie-title {
  flex: 0.9;
  text-align: left;
  align-self: center;
  margin: 0.5em 0;
}

.movie-title h4 {
  font-size: 18px;
  margin: 0;
}

.description {
  margin-top: 0;
  font-size: 12px;
  display: none;
  padding: 1em;
  text-align: left;
  border-top: 1px solid #F4F3EF;
}

.description p {
  margin: 0.25em 0;
}

.show {
  display: block;
}

.movie-title-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75em;
}

.movie-details {
  border-bottom: 1px solid #F4F3EF;
}

.movie-details:last-child {
  border-bottom: none;
}

.views-text {
  font-size: 12px;
  display: inline;
  font-style: italic;
}

.active {
  stroke: #16161D;
  stroke-width: 1.5;
}

.legend-active {
  stroke: #16161D;
  stroke-width: 0.75;
}

.inactive {
  opacity: 0.3;
}

.subtext {
  font-size: 12px;
  font-style: italic;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  border: 1px solid #F4F3EF;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  z-index: 1000;
  width: 200px;
  height: 300px;
  transition: opacity 0.5s linear;
}

.loading-tooltip {
  background-color: white;
  opacity: 1;
  width: 200px;
  height: 300px;
  
  z-index: 1001;
  transition: opacity 0.5s linear;
}

.hide-loading {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.tooltip img {
  width: 100%;
  z-index: 1000;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
}

.sentiment {
  font-style: italic;
}